@charset "utf-8";
/*--------全局布局-------*/
*{margin: 0;padding: 0;}
select{height: 23px;}
body,input,button,ul,li{margin: 0;padding: 0;font-family: “Microsoft YaHei”, "微软雅黑",arial,sans-serif;font-size: 12px;}
h5,h6,h2{margin: 0;padding: 0;}
.left{float: left;}
.right{float: right;}
select{border: 1px solid #ABADB3;}
/*------全局配色-------*/
.color_test li{width: 50px;height: 50px;display: block;list-style: none;}
.myLightBlue{background-color: #1857DE;}
.myDarkBlue{background-color: #253A69;}
.myBrown{background-color: #381818;}
.myRed{background-color: #992E2E;}
.myYellow{background-color: #C48621;}

a{color: #000000;}
a{text-decoration: none;display: block;}
a:hover{text-decoration: underline;}
body{/*background: #D5B970;*/}


/*--------header.html------*/
.logo{background-image: url(../images/img/logo2.png);background-position: center;background-repeat: no-repeat;background-size: 60%;}
.header_black{background-color: #000000;}
#current{}
#current:hover{background-color: red;text-decoration: none;}
.main_nav{}
.main_nav ul li a{color: #F6F6F6;}
.main_nav ul li a:hover{background: #000000;color: #FFFFFF;text-decoration: none;border-bottom: 4px solid #0000FF;}

/*----------footer.html-------*/


/*--------index.html-------*/
#index_banner{background: #D5B970;}
#lastestNews{background-color: #F6F6F6;}
.carKeyWords{border-bottom: 1px dashed #313131;}
#car_market{border: 1px dashed #313131;border-top: none;}
#car_list{background-color: #F6F6F6;}
#car_list li{list-style: none;}
#complaints_online{background-color: #F6F6F6;border: 1px dashed #313131;border-top: none;}
#complaints_online li{list-style: none;}
.problemRank{background-color: #313131;}
.rank1 li{background-image: url(../images/img/attention.png);background-repeat: no-repeat;background-position: 20px 20px;background-size: 20px 20px;}
.rank2 li{background-image: url(../images/img/ranks.png);background-repeat: no-repeat;background-position: 20px 20px;background-size: 20px 20px;}
.rank3 li{background-image: url(../images/img/love.png);background-repeat: no-repeat;background-position: 20px 20px;background-size: 20px 20px;}
.problemText li a{color: #EACD2E;text-decoration: none;}
.problemRank_bar{background-color: #F6F6F6;}
.problemRank_bar_s1{border: none;border-radius: 4px;background-image: url(../images/img/warningbelt.png);}
.problemRank_bar_s3{border: none;border-radius: 4px;background-image: url(../images/img/lovebelt.png);}
.research_box_bycar{border: 1px dashed #313131;border-radius: 4px;}
.research_box_bycar input{border: none; text-align: center;color: #626262;background-color: #F6F6F6;}
.research_box_bycar button{border: none;background-image: url(../images/img/research.png);background-repeat: no-repeat;background-position: center; background-color: #eacd2e;}
.research_box_bycar button:hover{background-color: #B40000;}
.research_box_complaints{border: 1px dashed #313131;border-radius: 4px;}
.research_box_complaints input{font-size: 16px;border: none;text-align: center;color: #626262;background-color: #F6F6F6;}
.research_box_complaints button{border: none;background-image: url(../images/img/research.png);background-repeat: no-repeat;background-position: center; background-color: #eacd2e;}
.research_box_complaints button:hover{background-color: #B40000;}

/*------------buttons----------*/
.dashButtons{background: #EACD2E;border: 1px dashed #313131;border-radius: 4px;text-align: center;}
.dashButtons:hover{background: #B40000;color: #FFFFFF;}
.button_type5{background-color: #F6F6F6;}
.quicklook1{background-image: url(../images/img/pics.png);background-position: 20px 10px;background-repeat: no-repeat;}
.quicklook2{background-image: url(../images/img/humerus.png);background-position: 20px 10px;background-repeat: no-repeat;}
.quicklook3{background-image: url(../images/img/horrible.png);background-position: 20px 10px;background-repeat: no-repeat;}
.quicklook4{background-image: url(../images/img/wellwritten.png);background-position: 20px 10px;background-repeat: no-repeat;}
.quicklook5{background-image: url(../images/img/right.png);background-position: 20px 10px;background-repeat: no-repeat;}
.quicklook6{background-image: url(../images/img/hot.png);background-position: 20px 10px;background-repeat: no-repeat;}
.quicklook7{background-image: url(../images/img/help.png);background-position: 20px 10px;background-repeat: no-repeat;}
.quicklook8{background-image: url(../images/img/media.png);background-position: 20px 10px;background-repeat: no-repeat;}
/*--------------------------------index.html end----------------------------*/


/*-----------login_re.html-------------*/
.color_black{background: black;}
.color_yellow{background: #D5B970;}
.login_content{padding-top: 110px; background-image: url(../images/img/logo2.png);background-repeat: no-repeat;background-position:top center;}
.login_input{border: 1px dashed #253A69;border-radius: 4px;}
#varify{border: 1px dashed #253A69;border-radius: 4px;}
#validate{border: 1px dashed #253A69;border-radius: 4px;}
.login_quickin{border-radius: 26px;}
.login_quickin:hover{background-color: #F6F6F6;}
.login_forget{text-decoration: underline;}

/*----------complain1.html--------------*/
.content2{border-radius: 4px;background: #FFFFFF;}
.content2 h1{text-align: center;background: #B40000;color: #FFFFFF;}
.thenext_btn{font-size: 16px;}

/*------------complain_addcar.html-----------------*/
.content3{background: #CCCCCC;border-radius: 4px;}
.content3 h1{background: #B40000;color: #FFFFFF; }
.instruction{background: #999999;}
.carcolor{border:2px solid #FFFFFF;color: #FFFFFF;}
.carcolor_checked{border: 2px solid #FF6600;}
.black{background: #313131;}
.white{background: #F6F6F6;color: #000000;}
.myred{background: #B40000;}
.blue{background: #003399;}
.yellow{background: #EACD2E;}
#text_forVIN{background-image: url(../images/img/arrow.png);background-position: center top;background-repeat: no-repeat;}
