@charset "utf-8";

/*------全局配色-------*/
.color_test li{width: 50px;height: 50px;display: block;list-style: none;}
.myLightBlue{background-color: #1857DE;}
.myDarkBlue{background-color: #253A69;}
.myBrown{background-color: #381818;}
.myRed{background-color: #992E2E;}
.myYellow{background-color: #C48621;}

/*-----------login_re.html-------------*/
.color_black{background: black;}
.color_yellow{background: #D5B970;}
.login_content{padding-top: 110px; background-image: url(../images/img/logo2.png);background-repeat: no-repeat;background-position:top center;}
.login_input{border: 1px dashed #253A69;border-radius: 4px;}
#varify{border: 1px dashed #253A69;border-radius: 4px;}
#validate{border: 1px dashed #253A69;border-radius: 4px;}
.login_quickin{border-radius: 26px;}
.login_quickin:hover{background-color: #F6F6F6;}
.login_forget{text-decoration: underline;}

/*----------complain1.html--------------*/

.thenext_btn{font-size: 16px;}

/*------------complain_addcar.html-----------------*/
.content3{background: #CCCCCC;border-radius: 4px;}
.content3 h1{background: #B40000;color: #FFFFFF; }
.instruction{background: #999999;}
.carcolor{border:2px solid #FFFFFF;color: #FFFFFF;}
.carcolor_checked{border: 2px solid #FF6600;}
.black{background: #313131;}
.white{background: #F6F6F6;color: #000000;}
.myred{background: #B40000;}
.blue{background: #003399;}
.yellow{background: #EACD2E;}
