/*--------new_index.html---------*/
/*通用*/
.global_content{width: 1040px;margin: 0 auto;}
*{margin: 0;padding: 0;}
body{font-family: "微软雅黑","microsoft yahei",arial,sans-serif;}
li{list-style: none;}
a{color: #000000;text-decoration: none;display: block;}
a:hover{color: #B40000;}
.dashButtons{background: #EACD2E;border: 1px dashed #313131;border-radius: 4px;text-align: center;}
.dashButtons:hover{background: #B40000;color: #FFFFFF;}

#gridsysX{width: 1040px;height:40px;margin: 0 auto;}
#gridsysX ul{margin: 0;padding: 0;}
#gridsysX ul li{list-style: none;line-height: 40px;width: 40px;float: left;margin-right: 10px;text-align: center;color: #666666;background: #CCCCCC;}
#gridsysX ul li:last-child{margin-right: 0;}
#gridsysY{width: 40px;height: 1040px;position: absolute;left: 100px;top: 40px;}
#gridsysY ul{margin: 0;padding: 0;}
#gridsysY ul li{list-style: none;line-height: 40px;width: 40px;margin-bottom: 10px;text-align: center;color: #666666;background: #CCCCCC;}
#gridsysY ul li:last-child{margin-bottom: 0;}



#header{height:100px;}
#header ul{height: 90px;}
#header ul li{line-height: 86px;list-style: none;float: left;width: 90px;text-align: center;margin-right: 10px;
              font-size: 22px;}             
#header ul li:first-child{width: 290px;height: 90px;}
#header ul li:last-child{font-size: 12px;}
#header ul li a:hover{border-bottom: 4px solid #B40000;}
#logo{}
/*banner*/
#index_banner{float: left;height: 340px;width: 690px;background-image: url(../Images/img/carpg1.jpg);background-repeat: no-repeat;background-color: #CCCCCC;}
#index_banner li{float: left;list-style: none;}
/*未完成*/
/*排行榜*/
#index_rank{width: 340px;height: 890px;float: right;background-color: #CCCCCC;}
.problemRank{position: relative;height: 140px;margin: 10px 0;background-color: #313131;overflow: hidden;zoom: 1;}
.problemRank a{color: #EACD2E;}
.problemRank a:hover{color: #B40000;}
.problemRank a h3{line-height: 37px;}
.problemRank a h3 img{width: 38px;height: 37px;float: left;margin: 0 10px;}
ul.problemRank_text{width: 140px;text-align: center;float: left;}
ul.problemRank_bar{width: 190px;float: right;}
ul.problemRank_bar li{height: 23px;border-radius: 4px;margin: 10px 0;background-image: url(../Images/img/warningbelt.png);}
ul.problemRank_bar button{position: absolute;bottom: 5px;right: 5px;}
#pr11{width: 80%;}
#pr12{width: 70%;}
#pr13{width: 50%;}
