<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  
<filter>
    <filter-name>struts2</filter-name>
    <filter-class>
        org.apache.struts2.dispatcher.FilterDispatcher            
    </filter-class>
</filter>
<filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
<!-- 判断页面的访问权限 -->
  <filter>
     <filter-name>CheckFilter</filter-name>
      <filter-class>com.carpg.controller.CheckFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>CheckFilter</filter-name>
      <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VerifyImage</servlet-name>
    <servlet-class>com.carpg.servlet.VerifyImage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.carpg.servlet.AjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.carpg.servlet.test</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>VerifyImage</servlet-name>
    <url-pattern>/servlet/VerifyImage.sl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/servlet/AjaxServlet.sl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/servlet/test.ln</url-pattern>
  </servlet-mapping>
  
  <!-- jfreechart 的servlet -->
<servlet> 
<servlet-name>DisplayChart</servlet-name> 
<servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>com.carpg.servlet.MailServlet</servlet-class>
  </servlet>

 
<servlet-mapping> 
<servlet-name>DisplayChart</servlet-name>
<url-pattern>/servlet/DisplayChart.ln</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/servlet/MailServlet.sl</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
        <jsp-property-group>
            <description>
                Special property group for JSP Configuration JSP
                example.
            </description>
            <display-name>JSPConfiguration</display-name>
            <url-pattern>*.html</url-pattern>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>true</el-ignored>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>false</scripting-invalid>
            <include-prelude></include-prelude>
            <include-coda></include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>

